@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@100;300;400&family=Rubik:wght@300&family=Sofia&family=Trocchi&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body{
  position: relative;
  padding-bottom: 400px;
  min-height: 100vh;
}

.adjust-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

